.thermostat-wrapper {
  width: 200px;
  height: 400px;
  margin: auto;
}

.thermostat-container {
  width: 90%;
  height: 90%;
  background-color: lightgray;
  border-radius: 15px;
  border: 0.2rem solid darkgray;
  box-shadow: 5px 5px 10px black;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.thermostat-background {
  display: flex;
  align-items: flex-end;
  background-color: white;
  height: 90%;
  width: 12px;
  border-radius: 10px;
  border: 1px dashed black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.thermostat-bar {
  height: 60%;
  width: 12px;
  background-color: red;
  border-radius: 10px;
  margin-top: 10px;
}

.current-temperature {
  align-self: flex-start;
  justify-self: flex-start;
}
.bulb {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  margin-left: -8.5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: red;
}

.zero {
  margin-bottom: 5px;
}

.thermostat-controls {
  text-align: center;
  padding-top: 5px;
}

.increase-temperature {
  background-color: palevioletred;
}

.decrease-temperature {
  background-color: lightsteelblue;
}

.power-saving-toggle {
  margin-top: 5px;
}

p {
  padding-right: 3px;
}
